server:
  port: ${PAYMENT_SERVICE_PORT:8083}

spring:
  application:
    name: payment-service

  datasource:
    url: ${PAYMENT_DB_URL:jdbc:postgresql://${PAYMENT_DB_HOST:localhost}:${PAYMENT_DB_PORT:15434}/${PAYMENT_DB_NAME:payment_db}}
    username: ${PAYMENT_DB_USER:payment}
    password: ${PAYMENT_DB_PASSWORD:payment}
    hikari:
      maximum-pool-size: ${PAYMENT_DB_POOL_SIZE:10}

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: UTC

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:29092}

    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.add.type.headers: false
        enable.idempotence: true
        acks: all
        retries: 10
        max.in.flight.requests.per.connection: 5

    consumer:
      group-id: ${KAFKA_CONSUMER_GROUP_PAYMENT:payment-service}
      auto-offset-reset: earliest
      enable-auto-commit: false
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      properties:
        spring.deserializer.value.delegate.class: org.springframework.kafka.support.serializer.JsonDeserializer
        spring.json.value.default.type: com.stanislav.paymentservice.api.dto.OrderCreateEvent
        spring.json.trusted.packages: com.stanislav.paymentservice.api.dto

    listener:
      ack-mode: record
      missing-topics-fatal: false

app:
  kafka:
    topics:
      orders: ${KAFKA_TOPIC_ORDERS:orders.events}
      payments: ${KAFKA_TOPIC_PAYMENTS:payments.events}

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
  metrics:
    tags:
      application: ${spring.application.name}
    distribution:
      percentiles-histogram:
        http.server.requests: true

logging:
  level:
    org.springframework.kafka: INFO
